{% extends 'base.html.twig' %}

{% block main %}
    <font color="#C0C0C0" xmlns="h3, div">

        <h1>Hello {{ user.email }}</h1>

        <h3>{{ user.username }}</h3>
        <br/>

        <div><img  src="{{ asset('uploads/images/users/'
                ~ user.profilePic)  }}" width="100px" height="100px" />
        </div>
        <br/>

        <a href="{{ path('user_edit_profile') }}" class="btn btn-success btn-sm">Edit Profile</a>
        <br/><br/>
        <p>
            <a href="{{ path('user_mailbox') }}" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-envelope">({{ msg|length }})</span> Mailbox
            </a>
        </p>
    </font>

{% endblock %}