{% extends 'base.html.twig' %}

{% block main %}
    <br/>
    {% for msg in app.session.flashbag.get('errors') %}
        <div class="alert alert-danger">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-label="true">x</span>
            </button>
        </div>
    {% endfor %}
    <font color="#C0C0C0">
    <div class="container login-container">
        <div class="row">

                <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                    <fieldset>
                        <br/>
                        <h2>Welcome</h2>
                        <br/>
                        <div class="form-group">
                            <label class="control-label" for="user_email">Email</label>
                            <input class="form-control" id="user_email" placeholder="Email"
                                   value="{{ user.email|default(null) }}" name="user[email]" required type="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="user_username">Username</label>

                            <input type="text" class="form-control" id="user_username" placeholder="Username"
                                   value="{{ user.username|default(null) }}" name="user[username]" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="user_password_first">Password</label>
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password][first]" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="user_password_second">Confirm Password</label>
                                <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="user[password][second]" required>
                        </div>

                        <div class="form-group">

                            {#                            <input type="submit" class="btnSubmit" value="Login"/>#}{#<h3>#}
                            {#                                <span style="color:#808080;"><code><big><span style="font-size:20px;">Login</span></big></code></span></h3>#}

                            <button type="submit" class="btn btn-info">Register</button>

                        </div>
                        {{  form_row(form._token) }}
                    </fieldset>
                </form>

        </div>
    </div>
    </br>
    </br>
    </font>
{% endblock %}