{% extends 'base.html.twig' %}

{% block main %}

    {#    <form name="register"  method="post">#}
    {#        <input type="text" name="user[email]"/>#}
    {#        <input type="text" name="user[password]"/>#}
    {#        <input type="text" name="user[username]"/>#}
    {#        <input type="hidden" name="csrf_token" value="{{ csrf_token('register') }}"/>#}
    {#        <input type="submit" value="Register">#}


    {#    </form>#}
    </br>
    <div class="container login-container">
        <div class="row">

                <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                    <fieldset>
                        <h2 style="color: #808080;">Welcome</h2>


                        <br/>
                        <div class="form-group">
                            <label class=" control-label" for="user_email"><font
                                        color="#f0f8ff">Email</font></label>
                            <input class="form-control" id="user_email" placeholder="Email"
                                   value="{{ user.email|default(null) }}" name="user[email]" required type="email">
                        </div>
                        <div class="form-group">
                            <label class=" control-label" for="user_username"><font
                                        color="#f0f8ff">Username</font></label>

                            <input type="text" class="form-control" id="user_username" placeholder="Full Name"
                                   value="{{ user.username|default(null) }}" name="user[username]" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label" for="user_password_first"><font
                                        color="#f0f8ff">Password</font></label>
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password][first]" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="user_password_second"><font
                                        color="#f0f8ff">Confirm Password</font></label>
                                <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="user[password][second]" required>
                        </div>

                        <div class="form-group">

                            {#                            <input type="submit" class="btnSubmit" value="Login"/>#}{#<h3>#}
                            {#                                <span style="color:#808080;"><code><big><span style="font-size:20px;">Login</span></big></code></span></h3>#}

                            <button type="submit" class="btn btn-info">Register</button>

                        </div>
                        {{  form_row(form._token) }}
                    </fieldset>
                </form>

        </div>
    </div>
    </br>
    </br>

{% endblock %}