{% extends "base.html.twig" %}

{% block main %}
    <font color="#C0C0C0">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <a href="{{ path('article_view', {id: article.id}) }}">
                        <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" width="300px" height="150px">
                    </a>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author.username }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin() ) %}
                                <a class="btn btn-success btn-xs" href="{{ path('article_edit',{id:article.id}) }}">Edit
                                    &raquo;</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete',{id:article.id}) }}">Delete
                                    &raquo;</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">Back &raquo;</a>

                        </div>
                    </footer>
                </article>

                {% if app.getUser() %}
                    <br/>
                    <a class="btn btn-success btn-sm" id="add">Add Comment</a>
                    <div id="comment"></div>
                    <br />
                {% endif %}

                {% for comment in comments %}
                    <p>{{ comment.content }}  </p>
                    <br /> {{ comment.author.username }} | <a href="{{ path('user_message', {id: comment.author.id}) }}">
                    <img class="rounded-circle"
                         src="{{ asset('uploads/images/users/' ~ comment.author.id) }}"
                         width="20px" height="20" />
                </a><br />
                    <small>{{ article.dateAdded|date("F jS \\a\\t g:ia") }}</small>
                    <hr />
                {% endfor %}

            </div>
        </div>
    </div>
    <div>

    </div>
    <script>
        $('#add').click(function () {
            $('#comment').empty();
            let commentForm =
                `
                <form method="post" action="{{ path('comment_create', {id: article.id}) }}">
                <div class="form-group">

                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="comment[content]"></textarea>
                            <input type="submit" value="Add" class="btn btn-success btn-sm">
                        </div>
                    </div>

                </form>
                `;

            $('#comment').append(commentForm);
            $('#comment').toggle();
        })
    </script>
    </font>
{% endblock %}