{% extends "base.html.twig" %}

{% block main %}
    <font color="#C0C0C0">
        <div class="container body-content">
            <div class="row">
                {% for msg in app.session.flashbag.get('errors') %}
                    <div class="alert alert-danger">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-label="true">x</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <font color="#379683">
                                <h3>{{ article.title }}</h3>
                            </font>
                        </header>
                        <a href="{{ path('article_view', {id: article.id}) }}">

                            <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" width="600px"
                                 height="300px">
                        </a>

                        <br/>
                        <p>
                            Content: <font color="#7395ae">{{ article.content }}</font>
                        </p>
                        <p>
                           Genre: <font color="#7395ae">{{ article.genre }}</font>
                        </p>

                        <small class="author">
                            Written By: <font color="#7395ae">{{ article.author.username }}</font>
                        </small>
                        <br/>

                        <footer>
                            <div class="pull-right">
                                {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin() ) %}
                                    <a class="btn btn-success btn-xs" href="{{ path('article_edit',{id:article.id}) }}">Edit
                                        &raquo;</a>
                                    <a class="btn btn-danger btn-xs"
                                       href="{{ path('article_delete',{id:article.id}) }}">Delete
                                        &raquo;</a>
                                {% endif %}
                                <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">Back &raquo;</a>

                            </div>
                        </footer>
                    </article>

                    {% if app.getUser() %}
                        <br/>
                        <a class="btn btn-primary btn-sm" id="add">Add Comment</a>
                        <div id="comment"></div>
                        <br/>
                    {% endif %}

                    {% for comment in comments %}

                        <p>{{ comment.content }}  </p>
                        <font color="#7395ae"> {{ comment.author.username }} | <a href="{{ path('user_message', {id: comment.author.id}) }}">
                                <img src="{{ asset('uploads/images/users/' ~ comment.author.profilePic) }}"
                                     width="30px" height="30"/>
                            </a><br/></font>
                        <font color="7395ae">
                            <small>{{ article.dateAdded|date("F jS \\a\\t g:ia") }}</small>
                            <hr/>
                        </font>

                    {% endfor %}

                </div>
            </div>
        </div>
        <div>

        </div>
        <script>
            $('#add').click(function () {
                $('#comment').empty();
                let commentForm =
                    `
                <form method="post" action="{{ path('comment_create', {id: article.id}) }}">
                <div class="form-group">

                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="comment[content]"></textarea>
                            <input type="submit" value="Add" class="btn btn-success btn-sm">
                        </div>
                    </div>

                </form>
                `;

                $('#comment').append(commentForm);
                $('#comment').toggle();
            })
        </script>
    </font>
{% endblock %}